/******************
*******************
**			     **
**    LOCALES    **
**			     **
*******************
******************/

/* !• LOCALES */

.locale {
	display: flex;
	align-items: top;
	flex-wrap: wrap;
	
	padding: 50px 40px;
}

.locale .rhs {
	flex-grow: 1;
}


#locale_shown {
	flex-grow: 1;
	
	display: flex;
	flex-direction: column;
}


/* !•• TILES */

.t {
	display: table-cell;
	vertical-align: top;
	height: 144px;
}


/******************
*******************
**			     **
**    NATURAL    **
**   FEATURES   **
**			     **
*******************
******************/

/* !• NATURAL FEATURES */

/* !•• TERRAIN BACKGROUNDS */

.grassland {
	background-color: #5d8d55; /* light = #4fa953; */
}

/* !•• FEATURES (FORESTS, ETC) */

.forest img {
	height: 83px;
}


/******************
*******************
**			     **
**   BUILDINGS   **
**			     **
*******************
******************/

/* !• BUILDINGS */

.building_container {
	margin-left: 25px;
}

.building {
	display: flex;
	flex-direction: column;
}

.building .s_graphic {
	text-align: center;
	height: 100px;
	
}

.building .s_label {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

/* !•• SPECIFIC BUILDINGS */

.Lumber.Mill img {
	height: 58px;
	padding-top: 25px;
}

.Farm img {
	width: 112px;
	padding-top: 6px;
}