/* @media (prefers-color-scheme: dark) {
	.window {
		border: 4px solid black !important;
	}
} */

/******************
*******************
**			     **
**  BASE STYLES  **
**			     **
*******************
******************/

/* !• BASE STYLES */

/* !•• COLOURS */

:root {
	--ui-light: #4c5d6c; /* light = #7c98b3; */
	--ui-hover-light: #adccd9;
}

/* !•• BASIC ELEMENTS */

/* Base font sizes for rem-based modules */
html {
	font-size: 16px;
	
	@media screen and (min-width: 900px) {
		font-size: 18px;
	}
	
	@media screen and (min-width: 1200px) {
		font-size: 20px;
	}
}

body {
	margin: 0;
	font-family: 'Farro', 'Roboto', sans-serif;
}

html, body {
	cursor: pointer;
	
	height: 100%;
	display: flex;
	flex-direction: column;
}

body > #window {
	flex-shrink: 0;
	flex-grow: 1;
}

.test {
	color: color(srgb 0.484 0.502 0.875);
	background-color: color(srgb 0.133 0.072 0.833);
}

/******************
*******************
**			     **
**    FLEXBOX    **
**   STRUCTURE   **
**			     **
*******************
******************/

#window {
	display: flex;
	flex-direction: column;
}

/******************
*******************
**			     **
**  CONTROL BAR  **
**			     **
*******************
******************/

/* !••••••••••••••••••••••••••••*/
/* !• CONTROL BAR 				*/

#control_bar {
	/* Module rem size */
	font-size: 1rem;
	
	font-weight: bold;
	color: #fcf6ee; /* light = white; */
	
	background: #4c5d6c; /* light = #7c98b3; */
	padding: 0px 20px;
	border-bottom: 1px solid #353738; /* light = white; */
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* !•• INFO ZONE */

#control_bar .s_info {
	padding-top: 9px;
	padding-bottom: 4px;
	height: 100%;
}

/**************
***************
**			 **
**  BUTTONS  **
**			 **
***************
**************/

/* !•• BUTTONS */

.control {
	display: inline-block;
	height: 100%;
	padding-top: 5px;
}

.control .label {
	display: inline-block;
	
}

.btn {
	font-size: 1.25em;
}

.time_control {
	width: 100px;
}

.time_control.no_day_shown {
	width: initial;
	padding-right: 28px;
}

/*********
**
** Unused styles for creating buttons with background and overlays

.btn_ol_and_bg,
.label {
	display: inline-block;
}

.control {
	margin-left: 2em;
}

.btn_ol_and_bg {
	position: relative;
}

.btn_ol {
	position: absolute;
	top: 10%;
	left: 10%;
}

************************
***********************/

#play_pause {
	display: inline-block;
}

#control_bar .label {
	position: relative;
	bottom: 3px;
	padding-left: 0.5em;
}

#timer {
	display: inline-block;
}


/* !•• DROPDOWNS */

.control {
	position: relative;
}

.control .dropdown {
	display: none;
	
	position: absolute;
	top: 33px;
	left: -0.8em;
	border: 1px solid #353738; /* light = white; */
	border-top: none;
	background-color: var(--ui-light);
	padding: 0.2em 1.2em;
}

.control:hover .dropdown {
	display: block;
}

.control.s_right .dropdown {
	left: auto;
	right: -20px;
	border-right: none;
}

.control .dropdown .s_item {
	padding: 0.7em 3em 0.7em 0em;
	border-bottom: 1px dotted #353738; /* light = white; */
	white-space: nowrap;
}

.control .dropdown .s_item:last-child {
	border-bottom: none;
}

.control .dropdown .s_item:hover {
	color: var(--ui-hover-light);
}

/* !•• DROPDOWN MENUS (VMENU) */

#menus_mml #v-menu-multi-level {
	background: transparent !important;
}

#menus_mml #v-menu-multi-level .dropdown-text  {
	background: transparent !important;
}

#menus_mml #v-menu-multi-level .dropdown-menu-open-down .dropdown-text  {
	background: rgb(76, 93, 108) !important;
}


/* !••••••••••••••••••••••••••••*/
/* !• INFO ZONE					*/

#shown_locale_info {
	/* Module rem size */
	font-size: 1rem;
	
	flex-grow: 1;
	
	border-top: 1px solid #4c5d6c; /* light = white; */
	background: #4c5d6c; /* light = #7c98b3; */
	padding: 20px; /* TODO: turn into a var for leftmost content, including the control bar too */
}


#info_zone_global {		
	flex-grow: 1;
	
	/* border-top: 1px solid white; */
	background: #4c5d6c; /* light = #7c98b3; */
	padding: 20px; /* var */
}


/* !•• Windows */

.window {
	border: 4px solid #eee;
	border-radius: 4px;
	padding: 0.5em 1.3em 1.2em;
	max-width: 400px;
	color: #eee;
	margin-bottom: 1.6em;
}

.window h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	margin-top: 0.4em;
}


.window.highlight_anim {
	animation-duration: 3s;
	animation-name: highlight_anim;
}

@keyframes highlight_anim {
	0% {
		background-color: white;
	}
	
	50% {
		background-color: grey;
	}
	
	100% {
		background-color: white;
	}
}