/******************
*******************
**			     **
**  BASE STYLES  **
**			     **
*******************
******************/

/* !• BASE STYLES */

/* !•• COLOURS */

:root {
	--ui-light: #7c98b3;
}

/* !•• BASIC ELEMENTS */

/* Base font sizes for rem-based modules */
html {
	font-size: 16px;
	
	@media screen and (min-width: 900px) {
		font-size: 18px;
	}
	
	@media screen and (min-width: 1200px) {
		font-size: 20px;
	}
}

body {
	margin: 0;
	font-family: 'Farro', 'Roboto', sans-serif;
}

html, body {
	cursor: pointer;
	
	height: 100%;
	display: flex;
	flex-direction: column;
}

body > #window {
	flex-shrink: 0;
	flex-grow: 1;
}

.test {
	color: color(srgb 0.484 0.502 0.875);
	background-color: color(srgb 0.133 0.072 0.833);
}

/******************
*******************
**			     **
**    FLEXBOX    **
**   STRUCTURE   **
**			     **
*******************
******************/

#window {
	display: flex;
	flex-direction: column;
}

#info_zone {
	flex-grow: 1;
}

/******************
*******************
**			     **
**  CONTROL BAR  **
**			     **
*******************
******************/

/* !• CONTROL BAR */

#control_bar {
	/* Module rem size */
	font-size: 1rem;
	
	font-weight: bold;
	color: white;
	
	background: #7c98b3;
	padding: 4px 20px;
	border-bottom: 1px solid white;
}

/* !•• DROPDOWN MENUS */

#menus_mml #v-menu-multi-level {
	background: transparent !important;
}

#menus_mml #v-menu-multi-level .dropdown-text  {
	background: transparent !important;
}

#menus_mml #v-menu-multi-level .dropdown-menu-open-down .dropdown-text  {
	background: rgb(76, 93, 108) !important;
}

/**************
***************
**			 **
**  BUTTONS  **
**			 **
***************
**************/

.control {
	display: inline-block;
}

.control .label {
	display: inline-block;
	
}

.btn {
	font-size: 1.25em;
}

.time_control {
	width: 100px;
}

/*********
**
** Unused styles for creating buttons with background and overlays

.btn_ol_and_bg,
.label {
	display: inline-block;
}

.control {
	margin-left: 2em;
}

.btn_ol_and_bg {
	position: relative;
}

.btn_ol {
	position: absolute;
	top: 10%;
	left: 10%;
}

************************
***********************/

#play_pause {
	display: inline-block;
}

#control_bar .label {
	position: relative;
	bottom: 1px;
	padding-left: 0.5em;
}

#timer {
	display: inline-block;
}

/* !•• DROPDOWNS */

.control {
	position: relative;
}

.control .dropdown {
	display: none;
	
	position: absolute;
	top: 33px;
	left: -0.8em;
	border: 1px solid white;
	border-top: none;
	background-color: var(--ui-light);
	padding: 0.2em 1.2em;
}

.control .dropdown .s_item {
	padding: 0.7em 3em 0.7em 0em;
	border-bottom: 1px dotted white;
	white-space: nowrap;
}

.control .dropdown .s_item:last-child {
	border-bottom: none;
}

/* !• Info boxes */

#object_details {
	margin: 2em 1em;
}

.object {
	padding: 1em;
	border: 1px solid black;
	margin-bottom: 2em;
}


.highlight_anim {
	animation-duration: 3s;
	animation-name: highlight_anim;
}

@keyframes highlight_anim {
	0% {
		background-color: white;
	}
	
	50% {
		background-color: grey;
	}
	
	100% {
		background-color: white;
	}
}